.footer {
  display: flex;
  flex-direction: row;
  padding: 3.75rem 4rem;

  &__logo {
    display: block;
    max-width: 10.9375rem;
    margin-right: auto;
  }

  &__copyright {
    display: block;
    margin-left: auto;
    align-self: flex-end;
  }

  &__nav {
    align-self: flex-end;
    margin-left: 4rem;

    ul {
      list-style: none;

      a {
        color: $color-white;
        text-decoration: none;

        &:focus,
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
