.awards {
    text-align: center;
    margin-top: 1.5em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.award {
    text-align: center;
    margin-bottom: 2em;
    display: inline-block;
    width: 210px;
    padding-left: 1em;
    padding-right: 1em;
    box-shadow: none !important;
    color: white !important;

    &:focus,
    &:hover {
        color: white !important;
    }

    &__icon {
        &-wrap {
            position: relative;
            width: 100%;
            max-width: 110px;
            display: inline-block;
        }
    }

    &__year,
    &__grade {
        position: absolute;
        width: 100%;
        font-family: $font-family-mono;
        letter-spacing: 0;
        line-height: 1;
        display: block;
    }

    &__year {
        top: 34%;
        font-weight: 400;
        font-size: 18px;
    }

    &__grade {
        bottom: 32%;
        font-weight: bold;
        font-size: 10px;
        text-transform: uppercase;
    }

    &__title {
        letter-spacing: 0;
        font-size: 18px;
        text-transform: uppercase;
        display: block;
    }

    &__category {
        font-family: $font-family-mono;
        letter-spacing: 0;
        font-weight: bold;
        font-size: 10px;
        text-transform: uppercase;
        display: block;
    }
}


@media screen and (max-width: 48rem) {
    .awards {
        justify-content: center;
    }
}
