.container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 112.5rem; // 1800px

}

@media screen and (max-width: 118.75rem) {
    .container {
        padding-left: 1.337rem;
        padding-right: 1.337rem;
    }
}
