.featured_all {
    width: 100%;
    padding: 1.337rem;
    display: flex;
    justify-content: center;

    > a {
        display: inline-block;
        margin-left: 1rem;
        margin-right: 1rem;
        box-shadow: none !important;
        color: $color-white !important;
        transition: letter-spacing $transitionDefault !important;
        text-transform: uppercase;

        &:focus,
        &:hover,
        &.active {
            letter-spacing: .42em;
        }   
    }
}
