.video-embed {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;

    img,
    iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    img {
        transform: scale(1.337);
        filter: blur(13.37px);
    }
}

@media screen and (max-width: 48rem) {
    .video-embed {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}
