.video-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -1.5rem;
    margin-right: -1.5rem;

    &__item {
        flex-basis: calc(33.3333% - 1.5rem * 2);
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        margin-bottom: 3rem;
        position: relative;
        overflow: hidden;

        a {
            display: block;
            box-shadow: none !important;

            &:focus,
            &:hover {
                color: $color-white !important;
            }
        }
    }

    &__title {
        font-size: 1.2rem;
        margin-top: .75em;
        margin-bottom: .125em;
        font-weight: 500;
        border-top: 1px solid $color-white;
        padding-top: .5em;
        text-transform: uppercase;
    }

    &__subtitle {
        font-size: .75rem;
        margin-top: .125em;
        font-weight: 100;
        border-bottom: 1px solid $color-white;
        padding-bottom: .66em;
    }

    &__meta {
        font-size: .625rem;
        font-family: $font-family-mono;
        display: flex;
        flex-direction: row;
        padding-top: .5em;
    }

    &__tags {
        > li {
            display: none !important;

            &:first-child {
                display: inline-block !important;
            }
        }
    }

    &__date {
        margin-left: auto;
        align-self: flex-end;
    }
}

.more-link {
    margin: 3.75rem 0;
    text-align: center;

    > a {
        text-transform: uppercase;
        font-family: $font-family-mono;
        font-size: 1rem;
        display: inline-block;
        padding: .4em 1em;
        text-align: center;
        min-width: 18em;
        border: 1px solid $color-white;
        box-shadow: none !important;
        position: relative;
        z-index: 2;
        transition: opacity $transitionDefault;
        opacity: .66;
        font-weight: 300;

        &:before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            height: 100%;
            width: 100%;
            background-color: $color-white;
            transform-origin: center bottom;
            transform: scaleY(0);
            z-index: -1;
            transition: transform $transitionDefault
        }

        &:hover,
        &:focus {
            opacity: 1;

            &:before {
                transform: scaleY(1);
            }
        }
    }
}

@media screen and (max-width: 80rem) {
    .video-grid {
        margin-left: -1rem;
        margin-right: -1rem;

        &__item {
            flex-basis: calc(50% - 1rem * 2);
            margin-left: 1rem;
            margin-right: 1rem;
            margin-bottom: 2.5rem;
        }
    }

    .more-link {
        padding: 2rem;
    }
}

@media screen and (max-width: 48rem) {
    .video-grid {
        margin-left: 0;
        margin-right: 0;

        &__item {
            flex-basis: 100%;
            margin-left: 0;
            margin-right: 0;
        }
    }

    .more-link {
        padding: 0 1.337rem;
    }
}
