.video-grid {
    padding: 3.75rem 4rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    &__list {
        margin-left: -1.3333rem;
        margin-right: -1.3333rem;
    }

    &__item {
        flex-basis: calc(33.3333% - 1.3333rem*2);
        margin-left: 1.3333rem;
        margin-right: 1.3333rem;
        margin-bottom: 2rem;
        position: relative;
        overflow: hidden;

        a {
            &:focus,
            &:hover {
                color: $color-white !important;
            }
        }
    }

    &__title {
        font-size: 1.2rem;
        margin-top: .5em;
        text-align: center;
        font-weight: 500;
    }

    &__subtitle {
        font-size: .875rem;
        margin-top: .75em;
        text-align: center;
        font-weight: 100;
    }
}

.more-link {
    padding: 3.75rem 4rem;
    text-align: center;
}

@media screen and (max-width: 80rem) {
    .video-grid {
        padding: 2rem;

        &__list {
            margin-left: -1rem;
            margin-right: -1rem;
        }

        &__item {
            flex-basis: calc(50% - 1rem*2);
            margin-left: 1rem;
            margin-right: 1rem;
            margin-bottom: 2rem;
        }
    }

    .more-link {
        padding: 2rem;
    }
}

@media screen and (max-width: 48rem) {
    .video-grid {
        padding: 0 1.337rem;

        &__list {
            margin-left: 0;
            margin-right: 0;
        }

        &__item {
            flex-basis: 100%;
            margin-bottom: 1.337rem;
            margin-left: 0;
            margin-right: 0;
        }
    }

    .more-link {
        padding: 0 1.337rem;
    }
}
