@import url('https://fonts.googleapis.com/css?family=Roboto:300,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300&display=swap');

$font-family-roboto: 'Roboto';
$font-family-roboto-mono: 'Roboto Mono';
$font-family-default: $font-family-roboto, sans-serif;
$font-family-mono: $font-family-roboto-mono, sans-serif;
