$transitionDefaultEasing: ease-out;
$transitionDefaultDuration: .2s;
$transitionDefault: $transitionDefaultEasing $transitionDefaultDuration;
$transitionLong: $transitionDefaultEasing $transitionDefaultDuration*2;
