html {
    $map: (8192px: 42px, 4096px: 20px, 2560px: 18px, 1920px: 17px, 1280px: 16px, 340px: 14px);
    @include poly-fluid-sizing('font-size', $map);
}

body {
    background-color: $color-black;
    color: $color-white;
    font-family: $font-family-default;
    letter-spacing: .1337em;
    line-height: 1.42;
}

#page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    > main {
        margin-top: auto;
        margin-bottom: auto;
    }
}

p {
    margin-top: .75em;
    margin-bottom: .75em;
    line-height: 1.66;
}

a {
    color: white;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

address {
    font-style: normal;
    font-size: 1.25rem;
    margin-top: auto;
    margin-bottom: auto;
}

img {
    display: block;
    height: auto;
    width: 100%;

    &:not([src$=".svg"]) {
        max-width: 100%;
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.text {
    &__center {
        text-align: center;
    }

    &__serif {
        font-family: $font-family-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-weight: 300;
    }

    &__small {
        font-size: .75rem;
        letter-spacing: .2em;
    }
}

iframe {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 48rem) {
    body {
        &.nav-open {
            overflow: hidden;
        }
    }
}
